{% extends 'vaccination_reminder/base.html' %}
{% load staticfiles %}

{% block title_block %}
Pet History
{% endblock %}

{% block body_block %}
    <h3>Vaccination History for {{ pet.pet_name }} </h3>

    <ul>
    {% for vacs in vaccinations_history %}
        <li>
            {{ vacs.vaccinations.vaccination_name }}
            <ul>
                <li>Date Vaccinated: {{ vacs.date_vaccinated }}</li>
                <li>Date Due: {{ vacs.date_due }}</li>
            </ul>
        </li>
    {% endfor %}
    </ul>
    <a href="{% url 'add_vaccine' pet.id %}">Add Vaccine</a>
{% endblock %}