{% extends 'vaccination_reminder/base.html' %}
{% load staticfiles %}

{% block title_block %}
Core Vaccines
{% endblock %}

{% block body_block %}
    <h3>Dog Vaccines</h3>
        <ul>
            {% for vac in vaccination_list %}
                {% if vac.species == 0 or vac.species == 2 %}
                <li>
                    {{ vac.vaccination_name }}
                    <ul>
                        <li>{{ vac.description }}</li>
                    </ul>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    <h3>Cat Vaccines</h3>
        <ul>
            {% for vac in vaccination_list %}
                {% if vac.species == 1 or vac.species == 2 %}
                <li>
                    {{ vac.vaccination_name }}
                    <ul>
                        <li>{{ vac.description }}</li>
                    </ul>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
{% endblock %}